/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: 10; /* Ensure the navbar stays on top of other elements */
  }
@layer components {
  /* .my-react-select-container {
    } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white border-2 dark:bg-neutral-700 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply shadow-none border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400;
  }

  .my-react-select-container .my-react-select__menu {
    @apply border-2 bg-neutral-100 dark:bg-neutral-700 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
      @apply bg-neutral-200 dark:bg-neutral-800;
    } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
}
